
.scoreboard {
  color:lightblue;

  .status {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .connected{
      color: greenyellow;
    }
  }

  .active {
    color: yellowgreen;
  }
}
