.remote {
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid deeppink;

    span {
      margin: 0 10px;
    }
    .active {
      color: yellowgreen;
    }
  }

  .controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .scorebtn {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      display: flex;
      font-size: 2em;
      justify-content: center;
      align-items: center;
      margin: 5px;
      box-shadow: 1px 1px 15px white;

      &.red {
        background-color: red;
        color: white;
      }

      &.yellow {
        border-color: yellow;
        background-color: yellow;
        color: black;
      }

      &.green {
        border-color: green;
        background-color: green;
        color: white;
      }

      &.brown {
        border-color: saddlebrown;
        background-color: saddlebrown;
        color: white;
      }
      &.blue {
        border-color: blue;
        background-color: blue;
        color: white;
      }
      &.pink {
        border-color: deeppink;
        background-color: deeppink;
        color: white;
      }
      &.black {
        border-color: black;
        background-color: black;
        color: white;
      }

      &.cornflower {
        background-color: cornflowerblue;
        color: white;
      }
    }

  }

  .status {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}




